@{
    ViewBag.Title = "Login";
}
@model HPCA_POC.Models.UserModel

<h2> Register a new User </h2>

@using (Html.BeginForm("CreateUser", "Index"))
{
    <table style="width:100%;">
        <tr><td>@Html.Label("First Name") </td><td>&nbsp;</td><td>@Html.TextBoxFor(model => model.FirstName)</td></tr>
        <tr><td>@Html.Label("Last Name") </td><td>&nbsp;</td><td>@Html.TextBoxFor(model => model.LastName)</td></tr>
        <tr><td>@Html.Label("Email") </td><td>&nbsp;</td><td>@Html.TextBoxFor(model => model.Email)</td></tr>
    </table>
    <button type="submit">Create a new User</button>
}

<h2> List of Users Added to the Network </h2>

@using (Html.BeginForm("ListOfUsers", "Index"))
{
    <button type="submit">List Of Users Added to Network</button>
}

<h2> Login  </h2>

@using (Html.BeginForm("Login", "Index"))
{
    <table style="width:100%;">
        <tr><td>@Html.Label("User Name") </td><td>&nbsp;</td><td>@Html.TextBoxFor(model => model.Email)</td></tr>
        <tr><td>@Html.Label("Password") </td><td>&nbsp;</td><td>@Html.PasswordFor(model => model.Password)</td></tr>
    </table>
    <button type="submit">Login</button>
}

<h2> Forgot Password </h2>

@using (Html.BeginForm("ForgotPassword", "Index"))
{
    <table style="width:100%;">
        <tr><td>@Html.Label("User Name") </td><td>&nbsp;</td><td>@Html.TextBoxFor(model => model.Email)</td></tr>
    </table>
    <button type="submit">Reset Password</button>
}


<h2> ReSend the Email  </h2>

@using (Html.BeginForm("ReSendEmail", "Index"))
{
    <table style="width:100%;">
        <tr><td>@Html.Label("User Name") </td><td>&nbsp;</td><td>@Html.TextBoxFor(model => model.Email)</td></tr>
    </table>
    <button type="submit">Resend the Registration Email</button>
}

<h2> Current Status of the User  </h2>

@using (Html.BeginForm("UserStatus", "Index"))
{
    <table style="width:100%;">
        <tr><td>@Html.Label("User Name") </td><td>&nbsp;</td><td>@Html.TextBoxFor(model => model.Email)</td></tr>
    </table>
    <button type="submit">User's status in HPCA</button>
}

